
@{
    ViewData["Title"] = "Musicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Musicians</h2>

@using Bands.Domains.Models
@model IEnumerable<Bands.Domains.Models.Musician>


    @foreach (var element in Model)
    {
        string musicianType = element.MusicianType!= null ? element.MusicianType.TypeName : "Not Specified";
     <div class="element">
            <label>Full Name     : </label><h3>@element.ApplicationUser.FirstName @element.ApplicationUser.LastName</h3>
            <label>Musician type : </label><strong>@musicianType</strong><br />
            <label>Likes         : </label><b>@element.Likes</b><br />
            <label>Description   : </label><b>@element.Description</b><br />
        </div>
    }
